/* 
    Created on : Oct 10, 2017, 8:54:50 PM
    Author     : lveliz
*/

.body--cp {
    background-color: $pages-crud-background-color;
}

.nav-bar--cp {
    background-color: $pages-crud-navbar-background-color;
}