/* 
    Created on : Oct 29, 2017, 12:21:50 PM
    Author     : lveliz
*/

.input--row-e {
    width: $input-row-editable-width;
    text-transform: $input-row-editable-text-transofrm;
}

.input-form {
    text-transform: $input-row-editable-text-transofrm;
}