/* 
    Created on : Oct 10, 2017, 8:42:22 PM
    Author     : lveliz
*/

$pages-error-background-color: #eeeeee ;
$pages-error-color-title: #c62828;
$pages-error-color-description: $gris-1;
$pages-error-color-status: $negro-1;
$pages-error-color-links: $blanco;
$pages-error-font-size-title: 100px;
$pages-error-font-size-description: 35px;
$pages-error-font-size-status: 25px;
$pages-error-font-size-links: 15px;
$pages-error-margin-bottom-title: 0px;
$pages-error-margin-bottom-description: 0px;

$pages-crud-navbar-background-color: $azul-1;
$pages-crud-background-color: $blanco-grisoso-1;

$pages-login-background-color: $azul-2;

$input-row-editable-width: 100%;
$input-row-editable-text-transofrm: uppercase;
