/* 
    Created on : Oct 10, 2017, 8:36:54 PM
    Author     : lveliz
*/

$azul-1: #3367D6;
$azul-2: #0747A6;
$azul-grisoso-1: #263238;
$blanco: #FFFFFF;
$blanco-grisoso-1: #F1F1F1;
$blanco-azulado-1: #F4F5F7;
$dorado: #EEC681;
$gris-1: #8D8D8D;
$negro-1: #282828;

